/* Specify the name of the 'element' you want to change. ie) <body>, <hr> or <img> here */
body {
  background-color: #d5cfff;
}

h1 {
  color:#791cb0;
}

h2 {
  color:#3a0088;
}

h3 {
  color:#3a0088;
}

hr {
  border-style: none;
  border-bottom-style: dotted;
  border-color: #ffffff;
  border-width: 5px;
  width: 5%;
}

img {
  height: 180px;
}
